

.Mainpanel{
    grid-column: 2 / -1;
    grid-row: 2 / -1;


    display: grid;
    gap: 24px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    padding: 12px;
}

.Todo-item-box{
    grid-column: span 1;
    grid-row: span 1;
    padding: 12px;
    background-color: var(--todo-box-background-color);
    border-radius: 18px;

    display: flex;
    flex-direction: column;
    align-items: center;
}