

.Modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 4rem;
    color: var(--text-color);
    background-color: var(--input-box-background-color);
    border-radius: 18px;
    font-size: 1.30rem;
    z-index: 99;
    
}

@media(max-width: 1000px){
    .Modal{
        padding: 1rem 5rem;
        min-width: 75%;
    }
}

.Modal-title{
    text-align: center;
}

.Close-modal-button{
    position: fixed;
    left: 10px;
    top: 10px;
    padding: .10rem .15rem;
    font-size: 20px;
}

.Hide-modal{
    display: none;
}

.Add-cat-lab{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

