



.Sidepanel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12,1fr);
    background-color: var(--menu-panel-background);
    justify-items: center;

    grid-row: 1 / -1;
    grid-column: 1 / 2;
    overflow-y: scroll;

    gap: 2em;
}

@media(max-width: 1000px){
    .Sidepanel{
        display: none;
    }
}

@media(max-width: 1000px){
    .Sidepanel-visible{
        display: grid;
    }
}



.Page-title{
    grid-column: 1 / -1;
}

.SidepanelBox{
    grid-column: 1 / -1;
    justify-self: stretch;

    background-color: var(--input-box-background-color);
    padding: 1.5em;
    padding-bottom: 24px;
    border-radius: 18px;
    box-shadow: 0px 2px 2px 0px var(--input-box-shadow-color);
    margin: 15px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.SidepanelBox .BoxTitle{
    font-weight: bold;
    font-size: 1.75em;
    text-align: center;
}

.SidepanelBox .InputFields{
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    gap: .75em;

}

.SidepanelBox .InputFields input{
    margin-top: .5em;
    width: 75%;
}

.SidepanelBox .InputFields label, .SidepanelBox .InputFields input, .SidepanelBox .InputFields select, .SidepanelBox .InputFields textarea{
    display: block;
}

.Sidepanel .InputFields textarea{
    resize: none;
    width: 75%;
}


footer{
    grid-column: span 2;
    grid-row: 12 / 13;
    justify-self: stretch;

    font-size: 1.25em;

    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--sidepanel-footer-background-color);

    position: sticky;
    
}

.Radiogroup label{
    display: flex!important;
    justify-content: stretch;
    align-items: center;
    gap: 6px;
}

.Radiogroup label input{
    width: auto!important;
}


.css-b62m3t-container{
    color: black;
}

.Category-selector{
    display: grid!important;
    grid-template-columns: repeat(4, 1fr);;
}
.Category-selector span{
    grid-column: span 4;
}
.Category-selector .css-b62m3t-container{
    grid-column: span 3;
}