

.Toppanel{
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    
    background-color: var(--menu-panel-background);

    display: flex;
    gap: .5em;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px;
}

@media(max-width: 1000px){
    .Toppanel{
        grid-column: 1 / -1;
    }
}

.ThemeSwitch{
    font-size: 1.5em;
}

.ThemeSwitch label{
    display: flex;
    gap: .25em;
    align-items: center;
}

.Todo-visibility-controller{
    display: flex;
    gap: 12px;
    align-items: center;
}

.Page-counter{
    font-size: 1.15em;
}

@media(min-width: 1000px){
    .Sidemenu-button{
        display: none;
    }
}
