



*, *::before, *::after{
  box-sizing: border-box;
}

html,body, #root, .App{
  height: 100%;
}

body{
  margin: 0;
}

.App{
  background-color: var(--main-background-color);
  --accentclr:#00948460;
  color: var(--text-color);


  display: grid;
  gap: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);

}

.Button{
  font-size: 19px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px 12px;
}
.Button:hover{
  background-color: var(--accentclr);
}
.Button:active{
  transform: scale(0.95);
}

.Sidebox-button{
  justify-self: center;
  align-self: center;
}


.Visibility-hidden{
  display: none !important;;
}
