



*, *::before, *::after{
  box-sizing: border-box;
}

html,body, #root, .App{
  height: 100%;
}

body{
  margin: 0;
}

.App{
  background-color: var(--main-background-color);
  color: var(--text-color);


  display: grid;
  gap: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);

}

.Button{
  font-size: 24px;
  border-radius: 12px;
  cursor: pointer;
  padding: 4px 12px;
}

.Button:active{
  transform: scale(.97);
}

.Sidebox-button{
  justify-self: center;
  align-self: center;
}


.Visibility-hidden{
  display: none !important;;
}

.css-b62m3t-container{
  color: black;
}